JWT_SECRET=
SITE_SECRET=

DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_OAUTH_REDIRECT=
GOOGLE_CLIENT_SECRET=

R2_BUCKET=
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_PUBLIC_URL=

ELEVEN_LABS_ENDPOINT=

BING_IMAGE_SEARCH_KEY=
