---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Header from "./components/Header.astro";
import Menu from "./components/Menu.astro";
import DashboardContent from "./components/DashboardContent.astro";
const { category } = Astro.params;
---

<DefaultLayout title={"Dashboard"}>
  <main
    class="h-full p-4 text-gray-50 min-h-screen bg-gray-900 w-screen flex flex-col gap-4"
  >
    <Header />
    <div class="flex-1 gap-4 flex">
      <Menu category={category} />
      <DashboardContent category={category} />
    </div>
  </main>
</DefaultLayout>
