---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title={"Dashboard"}>
  <main class="h-screen w-screen bg-slate-900">
    <header
      class="bg-blue-500 border border-x-0 border-t-0 border-blue-600 p-4 flex items-center"
    >
      <h1 class="font-bold text-xl">FreeSpeech AAC</h1>
      <div class="flex-1"></div>
      <a href="/app" class="bg-gray-50 text-blue-600 p-2 px-4 rounded-md">app</a
      >
    </header>
  </main>
</DefaultLayout>
