.app-actions {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.page-controls {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.app svg {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.sentence-builder {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  height: 70px;
  
  
  gap: 10px;
  overflow-x: auto;
}

.sentence-builder svg {
  position:absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sentence-tiles {
  height: 100%;
  width: calc(100% - 70px);
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
}

.tile {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-shrink: 0;
  flex-grow: 0;
}

.tiles {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tiles .tile {
  width: 70px !important;
  height: 70px !important;
}