a, h1 {
  color: var(--brand-color);
}

code {
  background-color: rgba(99, 141, 255, 0.154);
  border-radius: 3px;
}

.left-col {
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px - 40px);
  background-color: var(--brand-color);
  color: white;
  border-right: 1px solid #206BDE 1px solid;;
  padding: 20px;
}

.left-col p {
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.left-col svg {
  height: 24px;
  width: 24px;
  transition: all .2s ease-in-out;
}

.selected {
  background-color: #206BDE;
  border: 1px solid #5893eb !important;
  transform: scale(1.05);
}

.selected svg {
  transform: rotate(90deg);
}

.inner-page {
  transition: all .1s ease-in-out;
  color: rgb(235, 235, 235);
  font-size: 16px !important;
  padding-left: 20px !important;
  cursor: pointer;
}

.inner-select {
  transform: scale(1.05);
}

.content {
  position: absolute;
  top: 50px;
  left: 240px;
  width: calc(100vw - 300px);
  height: calc(100vh - 50px - 40px);
  overflow-y: auto;
  padding: 20px;
}