:root {
  --brand-color: #095DDB;
  --background: #F2F4F8;
}

* {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
}

.spacer {
  flex-grow: 1;
}