.hero-container {
  position: relative;
  height: 500px;
  width: 100vw;
}

.left-hero-bg {
  position: absolute;
  height: 100%;
  width: calc(100% - 400px);
  background-color: var(--brand-color);
  border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: -2;

}

.right-hero-bg {
  position: absolute;
  right: 0;
  height: 70%;
  width: 400px;
  background-color: var(--brand-color);
  border-bottom-right-radius: 50px;
  z-index: -2;
}

.corner-piece {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: var(--brand-color);
  left: calc(100% - 400px);
  top: 70%;
}

.inner-piece {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: var(--background);
  border-top-left-radius: 50px;
}

.app-header {
  background-color: var(--brand-color);
  display: flex;
  gap: 10px;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.278));
  border-bottom: #206BDE 1px solid;
  position: sticky;
  top: 0;
  z-index: 999;
  left:0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item {
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: colors 0.2s ease-in-out;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.brand {
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.brand span {
  font-weight: 400 !important;
  margin-left: 5px;
}

.brand svg {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}

.hero-content {
  z-index: 99;
  position: absolute;
  top: 80px;
  left: 80px;
  width: calc(100% - 160px);
  color: white;
}

.hero-new {
  font-size: 1rem;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s;
  width: fit-content;
}

.hero-new:hover {
  transform: translateX(20px);
}

.hero-new span {
  margin-right: 20px;
  font-weight: bold;
  background-color: white;
  color: var(--brand-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.hero-new svg {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 10px;
}

.hero-text {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  width: 50%;
}

.hero-text span {
  font-size: 45px;
  color: var(--brand-color);
  background-color: white;
}

.hero-desc {
  font-size: 24px;
  color: white;
  margin-top: 20px;
  font-weight: 300;
}

.blob-img {
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  height: 400px;
  width: 400px;
  filter: drop-shadow(15px 15px 0px var(--brand-color));
}

.bubbly-img {
  position: absolute;
  right: 50px;
  top: 70px;
  height: 250px;
  z-index: 99;
  transform: scaleX(-1);
}

.mobile-menu {
  display: none;
}

.spacer {
  flex-grow: 1;
}

.main-content {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.nav-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--brand-color);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-section {
  margin-top: 50px;
  width: calc(100% - 160px);
  margin-left: 80px;
}

.info-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.info-section a {
  color: var(--brand-color);
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.info-section svg {
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(5px);
}

.info-section p {
  font-size: 1.2rem;
}

.hero-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100%);
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: opacity(.1);
}

@media only screen and (max-width: 900px) {
  .hero-text {
    width: 100%;
    /* text-align: center; */
  }

  .hero-new {
    margin-bottom: 25px;
  }

  .hero-content {
    transform: translateY(-50px);
  }

  .bubbly-img {
    display: none;
  }

  .blob-img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  
  .mobile-menu {
    display: flex !important;
  }
}

@media only screen and (max-width: 500px) {

  .hero-text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateY(50px); */
    text-align: center;
  }

  .hero-new {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-new svg {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .hero-text {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateY(50px); */
    text-align: center;
  }

  .hero-new {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-new svg {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .hero-text {
    font-size: 30px !important;
  }

  .hero-text span {
    font-size: 30px !important;
  }

  .hero-desc {
    font-size: 20px !important;
  }

  .hero-new {
    font-size: 13px;
  }

  .hero-new:hover {
    transform: translateX(0px);
  }

  .hero-new span {
    font-size: 13px;
    margin-right: 10px;
    padding: 5px;
  }
}