.app-header {
  background-color: var(--brand-color);
  display: flex;
  gap: 10px;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.278));
  border-bottom: #206BDE 1px solid;
  position: sticky;
  top: 0;
  z-index: 999;
  left:0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item {
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: colors 0.2s ease-in-out;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.brand {
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.brand span {
  font-weight: 400 !important;
  margin-left: 5px;
}

.brand svg {
  height: 24px;
  width: 24px;
  margin-right: 2px;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  
  .mobile-menu {
    display: flex !important;
  }
}