<div
  class="flex border items-center border-gray-800 pb-4 border-x-0 border-t-0"
>
  <p class="text-xl font-bold">
    FreeSpeech <span class="font-medium text-md">Dashboard</span>
  </p>
  <div class="flex-1"></div>
  <a
    href="/app"
    class="flex hover:bg-blue-600 hover:border-blue-500 rounded-md border border-gray-700 gap-2 items-center p-2 px-4 bg-gray-800"
    >App <i class="bx bx-right-arrow-alt"></i>
  </a>
</div>
