---
import ProjectGrid from "../../../components/dashboard/ProjectGrid.svelte";
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout selected={"projects"}>
  <h1 class="font-medium text-2xl mb-4">Your Projects</h1>
  <ProjectGrid />
</DashboardLayout>
