---
import EditModeHeader from "../../components/app/EditModeHeader.svelte";
import EditModeSideBar from "../../components/app/EditModeSideBar.svelte";
import Loader from "../../components/app/Loader.svelte";
import ModalProjectSettings from "../../components/app/ModalProjectSettings.svelte";
import Navigation from "../../components/app/Navigation.svelte";
import SentenceBuilder from "../../components/app/SentenceBuilder.svelte";
import TileGrid from "../../components/app/TileGrid.svelte";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import TileGridNav from "../../components/app/TileGridNav.svelte";
import Me from "../../lib/server/Me";
// import pc from "../../lib/prisma";
const user = await Me(Astro.request.headers.get("cookie") + "");
if (!user || !user.projects || user.projects.length < 1)
  return Astro.redirect("/dashboard/projects");
---

<DefaultLayout title={"Hello, World!"}>
  <Loader client:load />
  <ModalProjectSettings client:load />
  <main class="h-screen w-screen bg-gray-900 flex flex-col">
    <EditModeHeader client:load />
    <div class="flex-1 w-screen flex">
      <EditModeSideBar client:load />
      <main
        class="flex flex-col flex-1 relative border border-gray-600 border-b-0 border-r-0"
      >
        <SentenceBuilder client:load />
        <TileGridNav client:load />
        <main
          style="overflow-y: auto;"
          class="w-full relative flex-1 bg-gray-200"
        >
          <main class="absolute top-0 w-full opacity-50 z-10">
            <TileGrid lag={1} client:load />
          </main>
          <span class="absolute top-0 w-full z-20">
            <TileGrid client:load />
          </span>
        </main>

        <!-- <main class="absolute opacity-50 bottom-0 w-full bg-red-200">
          
        </main> -->
      </main>
    </div>
    <Navigation client:load />
  </main>
</DefaultLayout>
<script is:inline>
  window.addEventListener("drop", () => {
    event.preventDefault();
  });
  window.addEventListener("dragover", () => {
    // event.dataTransfer.dropEffect = "none"; // dont allow drops
    event.preventDefault();
  });
</script>
