---
// import EditModeHeader from "../../components/app/EditMode/EditModeHeader.svelte";
// import EditModeSideBar from "../../components/app/EditMode/EditModeSideBar.svelte";
// import Loader from "../../components/app/Loader.svelte";
// import ModalProjectSettings from "../../components/app/Modals/ModalProjectSettings.svelte";
// import Navigation from "../../components/app/Navigation.svelte";
// import SentenceBuilder from "../../components/app/SentenceBuilder.svelte";
// import TileGrid from "../../components/app/TileGrid.svelte";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
// import TileGridNav from "../../components/app/TileGridNav.svelte";
import Me from "../../lib/server/Me";
// import pc from "../../lib/prisma";

import Navigation from "../../components/app/Navigation";
import TileGrid from "../../components/app/TileGrid";
import SentenceBuilder from "../../components/app/SentenceBuilder";
import TileGridHeader from "../../components/app/TileGridHeader";
import ToolBar from "../../components/app/EditMode/ToolBar";
import ActionMenu from "../../components/app/EditMode/ActionMenu";
import Keyboard from "../../components/app/Keyboard";

// const user = await Me(Astro.request.headers.get("cookie") + "");
// if (!user || !user.projects || user.projects.length < 1)
//   return Astro.redirect("/dashboard/projects");
---

<DefaultLayout title={"App - FreeSpeech"}>
  <div class="h-screen max-w-full overflow-hidden flex flex-col">
    <ActionMenu client:load />
    <div class="flex flex-1">
      <ToolBar client:load />
      <div class="flex flex-col flex-1">
        <SentenceBuilder client:load />
        <TileGridHeader client:load />
        <Keyboard client:load />
        <TileGrid client:load />
      </div>
    </div>
    <Navigation client:load />
  </div>
  
  <!-- <Loader client:load /> -->
  <!-- <ModalProjectSettings client:load /> -->
  <!-- <main class="h-screen w-screen bg-gray-900 flex flex-col"> -->
    <!-- <EditModeHeader client:load /> -->
    <!-- <div class="flex-1 w-screen flex"> -->
      <!-- <EditModeSideBar client:load /> -->
      <!-- <main -->
        <!-- class="flex flex-col flex-1 relative border border-gray-700 border-b-0 border-r-0" -->
      <!-- > -->
        <!-- <SentenceBuilder client:load /> -->
        <!-- <TileGridNav client:load /> -->
        <!-- <main class="w-full relative flex-1 bg-gray-200"> -->
          <!-- <TileGrid client:load /> -->
          <!-- <span class="absolute top-0 w-full z-20">
            <TileGrid client:load />
          </span> -->
        <!-- </main> -->

        <!-- <main class="absolute opacity-50 bottom-0 w-full bg-red-200">
          
        </main> -->
      <!-- </main> -->
    <!-- </div> -->
    <!-- <Navigation client:load /> -->
  <!-- </main> -->
</DefaultLayout>
<script is:inline>
  window.addEventListener("drop", () => {
    event.preventDefault();
  });
  window.addEventListener("dragover", () => {
    // event.dataTransfer.dropEffect = "none"; // dont allow drops
    event.preventDefault();
  });
</script>
