@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply cursor-pointer;
}

button:hover {
	@apply brightness-105;
}

button:active {
	@apply brightness-100;
}

button:disabled {
	@apply opacity-50;
}

.input-light {
	@apply rounded-md border border-zinc-300 p-2 text-zinc-800;
}
