@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply cursor-pointer;
}

button:hover {
	@apply brightness-110;
}

button:active {
	@apply brightness-100;
}

button:disabled {
	@apply opacity-50;
}
