---
import "../lib/client/app.css";
// import StoreManager from "../components/StoreManager.svelte";
import Me from "../lib/server/Me";
const { title } = Astro.props;
let user = await Me(Astro.request.headers.get("cookie") + "");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.85" /> -->
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{title}</title>
  </head>
  <body class="text-gray-50">
    <slot />
    <!-- <StoreManager client:load _Me={user} /> -->
  </body>
</html>
